<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
   <%= image_tag "football.png", alt: "alttext", id: 'cocktail-avatar' %>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="#">Standing<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>