<h1 class="title">Games index</h1>
<<<<<<< HEAD


<p><% @games %></p>
=======
 <% @games.each do |game|  %>
 <h1><%= game.home_id %> : <%= game.away_id %>  </h1>
 <% end %>

>>>>>>> 031cf7746ff08b330e8a1593980c768ccacdb5f0
