<div>
    <div>
        <h1 class="title">Games index</h1>
    </div>
    <div class="games-container">

        <ul>
            <% @games.each do |game| %>

            <li> <%=game.home_team.name%> <%=game.home_team.name%> - <%=game.away_team.name%></li>

            <% end %>

        </ul>
    </div>
</div>